.mustardback {
    background-color: rgb(236, 207, 43);
    font-family: fantasy;
    margin: 20px;

}

.grayback {
    background-color: rgb(83, 81, 81);
    font-family: cursive;
    margin: 20px;
    
}

.general {
    display: block;
    padding: 20px;
    content: 20px;

}