.mustardback {
    background-color: rgb(236, 207, 43);
    padding: 20px;
    font-family: fantasy;
    margin-bottom: 20px;


}

.grayback {
    background-color: rgb(83, 81, 81);
    padding: 20px;
    font-family: cursive;
    margin-bottom: 20px;

    
}